<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order an Animal</title>
</head>
<body>

<form action="order2" method="post">
    <h3>Animal</h3>
    <input type="text" value="Pig" name="animal">
    <input type="submit" value="Next">
</form>

</body>
</html>